log
.rspec_status
.rspec-local
.DS_Store
config/*secrets.yaml
!config/secrets_example.yaml
config/validator.yaml
config/private/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/ignore/
