
.context .title { 
  padding: 10px; padding-left: 0px; 
  margin: 20px 0px 10px 0px; 
  font-size: 24px; 
  border-bottom: 1px solid #E3E3E3;
  height: 25px;
  cursor: pointer;
}

.context .meta .file { color: gray; float: right; margin-right: 10px; }

.context ul { list-style: none; margin: 0; padding: 0; }
 
.context-subcontext .title {
  font-size: 1.3em;
  font-weight: bold;
}

.file { margin-top: 5px; }

.context-specifications { }
.context-specification { padding: 4px; }


.specification .heading { 
  padding: 5px; font-size: 1.2em; font-weight: bold; cursor: pointer; 
  padding: 6px 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  background: #EDF4FA; border: 1px solid #d8d8e5; -moz-border-radius: 3px; -webkit-border-radius: 3px;
  color: #3F3F3F;
}

.specification .heading .predicate { color: #5D5C5B; }
.failed { color: #800000; font-weight: bold; }


.method_details_list { margin: 10px 0px 10px 5px; }

.odd { background-color: #F0F6F9; }
.even { background-color: #FFFFFF; }
.selected { background-color: #FFCC80; }
