<div class='context'>
  <h1 class='title'><%= link_to_code_object context %></h1>
    
  <ul class='context-specifications'>
    <% context.specifications.each do |it| %>
      <% @specification = it %>
      <li class='context-specification'><%= erb :specification %></li>
      
    <% end %>
  </ul>
  
  <ul class='context-subcontext'>
  <% context.subcontexts.each do |subcontext| %>
    <% @context_saved = @context %>
    <% @context = subcontext %>
    
    <li><%= erb :context %></li>
    
    <% @context = @context_saved %>
  <% end %>
  </ul>

</div>