# Config for testing Cross RS4S traffic light controller.
# The settings are used for starting a local supervisor listening for the site tested
# See https://rsmp-nordic.github.io/rsmp_validator/config/
local_supervisor:
  ips: all
  max_sites: 1
  guest:
    intervals:
      timer: 1
      watchdog: 60
sxl: tlc
sxl_version: '1.2.1'
timeouts:
  watchdog: 65
  acknowledgement: 5
  connect: 30
  ready: 1
  status_response: 3
  status_update: 5
  subscribe: 1
  command: 300
  command_response: 30
  alarm: 3
  disconnect: 20
  startup_sequence: 45
  functional_position: 60
  priority_completion: 15
  yellow_flash: 2
components:
  main:
    CZ+76000=101TC001:
  signal_group:
    CZ+76000=101SG001:
    CZ+76000=101SG002:
    CZ+76000=101SG003:
  detector_logic:
    CZ+76000=101DL001:
    CZ+76000=101DL002:
    CZ+76000=101DL003:
items:
  plans: [1,2]  #switching to each plan takes a lot of time
  traffic_situations: [1,2,3]
  emergency_routes: [1] # only one emergency route
  inputs: [1,3,8]
  outputs: [1,3,8]
startup_sequence: 'efg'
alarm_triggers:
  A0302:
    input: 7
    component: CZ+76000=101DL001
secrets:
  security_codes:
    1: '1111'
    2: 'r;PwL7%U?SN2E.5'
