# Config for testing RSMP Nordic traffic light controller emulator.
# The settings are used for starting a local supervisor listening for the site tested
# See https://rsmp-nordic.github.io/rsmp_validator/config/
local_supervisor:
  port: 13111
  ips: all
  max_sites: 1
  log:
    prefix: '[SUPERVISOR]'
    acknowledgements: false
    watchdogs: false
  guest:
    intervals:
      timer: 0.1
      watchdog: 0.1
sxl: tlc
sxl_version: '1.2.1'
timeouts:
  watchdog: 1
  acknowledgement: 1
  connect: 1
  ready: 1
  status_response: 1
  status_update: 1
  subscribe: 1
  command: 1
  command_response: 1
  alarm: 1
  disconnect: 1
  startup_sequence: 5
  functional_position: 2
  priority_completion: 5
  yellow_flash: 2
components:
  main:
    TC:
  signal_group:
    A1:
    A2:
    B1:
    B2:
  detector_logic:
    DL1:
    DL2:
items:
  plans: [1,2]
  traffic_situations: [1,2]
  emergency_routes: [1,2]
  inputs: [1,3,8]
  outputs: [1,3,8]
startup_sequence: 'efg'
alarm_triggers:
  A0302:
    input: 7
    component: DL1
secrets:
  security_codes:
    1: '1111'
    2: '2222'
