# Config for testing a supervisor running on localhost (e.g. one from the rsmp gem)
# The settings are used for starting a local site connecting to the supervisor tested
type: tlc
site_id: RN+SI0001
supervisors:
  - ip: 127.0.0.1
    port: 14111
sxl: tlc
sxl_version: '1.2.1'
components:
  main:
    TC:
  signal_group:
    A1:
    A2:
    B1:
    B2:
  detector_logic:
    DL1:
signal_plans:
  1:
    cycle_time: 6
    states:
      A1: '111NBB'
      A2: '11NBBB'
      B1: 'BBB11N'
      B2: 'BBB1NB'
    dynamic_bands:
      1: 0
      2: 5
  2:
    cycle_time: 6
    states:
      A1: 'NNNNBB'
      A2: 'NNNNBN'
      B1: 'BBNNNN'
      B2: 'BNNNNN'
intervals:
  timer: 0.1
  watchdog: 0.1
  reconnect: 0.1
  after_connect: 0.2
timeouts:
  connect: 1
  ready: 1
  watchdog: 3
  acknowledgement: 1
secrets:
  security_codes:
    1: '1111'
    2: '2222'
log:
  prefix: '[TLC       ]'
  acknowledgements: false
  watchdogs: false