# Config for testing Kapsch ETX traffic light controller.
# The settings are used for starting a local supervisor listening for the site tested
# See https://rsmp-nordic.github.io/rsmp_validator/config/
local_supervisor:
  ips: all
  max_sites: 1
  guest:
    intervals:
      timer: 1
      watchdog: 10
sxl: tlc
sxl_version: "1.2.1"
timeouts:
  watchdog: 15
  acknowledgement: 10
  connect: 30
  ready: 15
  status_response: 10
  status_update: 10
  subscribe: 10
  command: 20
  command_response: 20
  alarm: 20
  disconnect: 20
  startup_sequence: 10
  functional_position: 10
  priority_completion: 10
  yellow_flash: 3
components:
  main:
    KTT+TC=101TC001:
  signal_group:
    KTT+TC=101SG001:
    KTT+TC=101SG002:
    KTT+TC=101SG003:
  detector_logic:
    KTT+TC=101DL001:
    KTT+TC=101DL002:
    KTT+TC=101DL003:
items:
  plans: [1, 2]
  traffic_situations: [1, 2]
  emergency_routes: [1]
  inputs: [1, 2, 3, 4]
  outputs: [1, 2, 3, 4]
startup_sequence: "efg"
alarm_triggers:
  A0302:
    input: 7
    component: KTT+TC=101DL001
secrets:
  security_codes:
    1: "1111"
    2: "2222"
