# Config for testing Swarco ITC-3 traffic light controller.
# The settings are used for starting a local supervisor listening for the site tested
# See https://rsmp-nordic.github.io/rsmp_validator/config/
sxl: tlc
sxl_version: '1.2.1'
intervals:   
  timer: 1    # main validator timer resolution in seconds
  watchdog: 20 # send watchdog every x seconds
timeouts:     # Timeouts used when waiting for messages from site.
  watchdog: 60
  acknowledgement: 60
  connect: 120 # Max time to wait for rsmp site to connect to server.
  ready: 60
  status_response: 120
  status_update: 120
  subscribe: 60
  command: 60
  command_response: 60
  alarm: 60
  disconnect: 60
  shutdown: 60
  startup_sequence: 60
  functional_position: 60
  yellow_flash: 60
components:
  main:
    AA+BBCCC=DDDEEFFF:
  signal_group:         # Each signal group must be specified manually
    AA+BBCCC=DDDSG001:
  detector_logic:       # Each detector logic must be specified manually
    AA+BBCCC=DDDDL001:
    AA+BBCCC=DDDDL002:
    AA+BBCCC=DDDDL003:
items:
  plans: [1,2,3,4]
  traffic_situations: [1]
  emergency_routes: [1]
  inputs: [1]
  outputs: [1]
startup_sequence: 'efg'
skip_validation:
  - Alarm
alarm_triggers:
  A0302:
    input: 2
    component: AA+BBCCC=DDDDL002
secrets:
  security_codes:
    1: default
    2: default
