port: 12111
sxl: tlc
ntsOId: KK+AG9998=001TC000
xNId: ''
intervals:
  timer: 1
  watchdog: 60
timeouts:
  watchdog: 120
  acknowledgement: 20
  connect: 120
  ready: 60
  status_response: 60
  status_update: 60
  subscribe: 60
  command: 180
  command_response: 180
  alarm: 60
  disconnect: 120
  shutdown: 180
  startup_sequence: 180
  functional_position: 240
components:
  main:
    KK+AG9998=001TC000:
      ntsOId: KK+AG9998=001TC000
  signal_group:
    KK+AG9998=001SG001:
  detector_logic:
    KK+AG9998=001DL001:
items:
  plans: [1,7,8]
  traffic_situations: []
  emergency_routes: [1]
  inputs: [1]
  force_input: 101
startup_sequence: 'efg'
secrets:
  security_codes:
    1: testcode1
    2: testcode2
restrict_testing:
  core_version: 3.1.2
  sxl_version: 1.0.7 
alarm_activation:
  A0302: 
    input: 152
    component: KK+AG9998=001DL001
