# The settings are used for starting a local tlc emulator connecting to the supervisor system to be tested

local_site:
  type: tlc
  site_id: CAR_TC_001
  supervisors:
    - ip: rsmp.tmacs.it
      port: 13111
  intervals:
    timer: 0.1
    watchdog: 1
    reconnect: 1
    after_connect: 1
  secrets:
    security_codes:
      1: '1111'
      2: '2222'
core_version: '3.2.2'
sxl: tlc
sxl_version: '1.2.1'
components:
  main:
    CAR_TC_001:
  signal_group:
    CAR_SG_001:
    CAR_SG_002:
    CAR_SG_003:
    CAR_SG_004:
  detector_logic:
    CAR_DL_001:
signal_plans:
  1:
    cycle_time: 6
    states:
      CAR_SG_001: '111NBB'
      CAR_SG_002: '11NBBB'
      CAR_SG_003: 'BBB11N'
      CAR_SG_004: 'BBB1NB'
    dynamic_bands:
      1: 0
      2: 5
  2:
    cycle_time: 6
    states:
      CAR_SG_001: 'NNNNBB'
      CAR_SG_002: 'NNNNBN'
      CAR_SG_003: 'BBNNNN'
      CAR_SG_004: 'BNNNNN'
timeouts:
  connect: 10
  ready: 100
  watchdog: 5
  acknowledgement: 5
secrets:
  security_codes:
    1: '1111'
    2: '2222'
