type: tlc
site_id: RN+SI0001
supervisors:
  - ip: 127.0.0.1
    port: 13111
sxl: tlc
sxl_version: '1.2.1'
components:
  main:
    TC:
  signal_group:
    A1:
    A2:
    B1:
    B2:
  detector_logic:
    DL1:
    DL2:
signal_plans:
  1:
    cycle_time: 6
    dynamic_bands:
      1: 0
      2: 5
    states:
      A1: '11NBBB'
      A2: '1NBBBB'
      B1: 'BBB11N'
      B2: 'BBB1NB'
  2:
    cycle_time: 6
    states:
      A1: '111NBB'
      A2: '11NBBB'
      B1: 'BBB11N'
      B2: 'BBB1NB'
inputs:
  total: 8
  programming:
    7:
      raise_alarm: A0302
      component: DL1
intervals:
  timer: 0.1
  watchdog: 0.1
  reconnect: 0.1
timeouts:
  connect: 1
  ready: 1
  watchdog: 0.5
  acknowledgement: 0.5
security_codes:
  1: '1111'
  2: '2222'
log:
  id: true
  json: true
  acknowledgements: false
  watchdogs: false
