# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Gem supervisor OS matrix
on: push
jobs:
  validator:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - name: Set log id
      shell: bash
      id: log_id
      run: |
        echo "LOG_ID=\
        gem-supervisor-\
        ${{ matrix.os }}-\
        core-latest-\
        run-\
        ${{ github.run_id }}-\
        ${{ github.run_number }}-\
        ${{ github.run_attempt }}\
        " >> $GITHUB_OUTPUT

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      with:
        # ruby-version is not needed because we have a .tool-versions file
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Start supervisor in background
      shell: bash
      run: |
        bundle exec rsmp supervisor \
        --config config/simulator/supervisor.yaml \
        2>&1 > simulator-${{ steps.log_id.outputs.LOG_ID }}.log \
        &

    - name: Run tests
      shell: bash
      run: |
        bundle exec rspec spec/supervisor \
        --format Validator::Brief \
        --format Validator::Details \
        --out validator-${{ steps.log_id.outputs.LOG_ID }}.log
      env:
        SUPERVISOR_CONFIG: config/gem_supervisor.yaml

    - name: Show detailed log
      shell: bash
      if: always() # even if previous steps failed
      run: cat validator-${{ steps.log_id.outputs.LOG_ID }}.log
    
    - name: Upload validator.log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: validator-${{ steps.log_id.outputs.LOG_ID }}.log
        path: validator-${{ steps.log_id.outputs.LOG_ID }}.log
    
    - name: Upload simulator.log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: simulator-${{ steps.log_id.outputs.LOG_ID }}.log
        path: simulator-${{ steps.log_id.outputs.LOG_ID }}.log
