# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Gem TLC
on: push
jobs:
  validator:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        core: ['3.1.2', '3.1.3', '3.1.4', '3.1.5', '3.2', '3.2.1', '3.2.2']
      fail-fast: false

    steps:
    - name: Set log id
      shell: bash
      id: log_id
      run: |
        echo "LOG_ID=\
        gem-tlc-\
        ubuntu-latest-\
        core-${{ matrix.core }}-\
        run-\
        ${{ github.run_id }}-\
        ${{ github.run_number }}-\
        ${{ github.run_attempt }}\
        " >> $GITHUB_OUTPUT

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Start TLC in background
      shell: bash
      run: |
        bundle exec rsmp site \
        --config config/simulator/tlc.yaml \
        2>&1 > simulator-${{ steps.log_id.outputs.LOG_ID }}.log \
        &
    
    - name: Run tests
      shell: bash
      run: |
        bundle exec rspec spec/site \
        --format Validator::Brief \
        --format Validator::Details \
        --out validator-${{ steps.log_id.outputs.LOG_ID }}.log
        
      env:
        SITE_CONFIG: config/gem_tlc.yaml
        CORE_VERSION: ${{ matrix.core}}
    
    - name: Show detailed log
      shell: bash
      if: always() # even if previous steps failed
      run: cat validator-${{ steps.log_id.outputs.LOG_ID }}.log
    
    - name: Upload validator.log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: validator-${{ steps.log_id.outputs.LOG_ID }}.log
        path: validator-${{ steps.log_id.outputs.LOG_ID }}.log
    
    - name: Upload simulator.log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: simulator-${{ steps.log_id.outputs.LOG_ID }}.log
        path: simulator-${{ steps.log_id.outputs.LOG_ID }}.log
