# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Gem supervisor
on: push
jobs:
  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.0', '3.1']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      with:
        # ruby-version is not needed because we have a .ruby-version file
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Start supervisor in background
      shell: bash
      run: bundle exec rsmp supervisor --config config/simulator/supervisor.yaml 2>&1 > simulator.log &

    - name: Run tests
      shell: bash
      run: bundle exec rspec --format Validator::Brief --format Validator::Details --out log/validation.log --tag '~script' spec/supervisor
      env:
        SUPERVISOR_CONFIG: config/gem_supervisor.yaml

    - name: Show detailed log
      if: always()
      run: cat log/validation.log

    - name: Rename validation.log
      if: always()
      run: mv log/validation.log log/validation_ruby_$(date +%F_%H-%M-%S).log

    - name: Upload validation.log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: rspec validation
        path: log/validation_ruby_*.log

    - name: Upload simulator.log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: simulator log
        path: simulator.log
