# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Swarco ITC-3

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test:

    runs-on: [ self-hosted, Windows, X64, itc3 ]
    steps:
    - name: Check out rsmp_validator repository
      uses: actions/checkout@v2
      with:
        repository: rsmp-nordic/rsmp_validator
        ref: ${{ github.event.client_payload.ref }}
    - name: Check out rsmp_implementations repository
      uses: actions/checkout@v2
      with:
        path: implementations
    - name: Set up ruby
      uses: ruby/setup-ruby@v1
      env:
        ImageOS: win19
      with:
        ruby-version: 3.0
        bundler-cache: true # runs 'bundle install' and caches installed gems
    - name: Run tests
      run: bundle exec rspec --format Validator::Brief --format Validator::Details --out log/validation.log spec/site
      env:
        SITE_CONFIG: implementations/config/swarco_itc3.yaml
    - name: Show detailed log
      if: always()
      run: cat log/validation.log
    - name: Rename validation.log
      if: always()
      run: |
        $date=Get-Date -Format 'yyyy-MM-dd_HH-mm'
        mv log/validation.log log/validation_itc3_$date.log
    - name: Upload validation.log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: rspec validation
        path: log/validation_itc3_*.log
