# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Swarco ITC-3

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: [ self-hosted, Windows, X64, itc3 ]
    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      env:
        ImageOS: win19
      with:
        bundler-cache: true # runs 'bundle install' and caches installed gems

    - name: Run tests
      run: bundle exec rspec --format Validator::Brief --format Validator::Details --out log/validation.log spec/site/tlc/alarm_spec.rb:31
      env:
        SITE_CONFIG: config/swarco_itc3.yaml

    - name: Show detailed log
      if: always()
      run: cat log/validation.log

    - name: Rename validation.log
      if: always()
      run: |
        $date=Get-Date -Format 'yyyy-MM-dd_HH-mm'
        mv log/validation.log log/validation_itc3_$date.log

    - name: Upload validation.log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: rspec validation
        path: log/validation_itc3_*.log
