# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will run rspec

name: Swarco ITC-2

on:
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: [ self-hosted, Linux, X64, itc2 ]
    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      env:
        ImageOS: win19
      with:
        bundler-cache: true # runs 'bundle install' and caches installed gems

    - name: Start ITC-2 simulator
      run: virsh -c qemu:///system start ts1001

    - name: Wait for ITC-2 simulator to start and completes startup sequence
      timeout-minutes: 5
      run: until `echo -e "ITC\nEXIT" | nc 192.168.103.205 10002 | grep -q -a "3-light"`; do echo Waiting...; sleep 5; done

    - name: Set the time of the controller
      run: ssh 192.168.103.205 ./set_date.sh

    - name: Run tests
      run: bundle exec rspec --format Validator::Brief --format Validator::Details --out log/validation.log spec/site
      env:
        SITE_CONFIG: config/swarco_itc2.yaml

    - name: Show detailed log
      if: always()
      run: cat log/validation.log

    - name: Rename validation.log
      if: always()
      run: mv log/validation.log log/validation_itc2_$(date +%F_%H-%M-%S).log

    - name: Fetch itc2 rsmp log
      if: always()
      run: scp 192.168.103.205:/tmp/simulator.log /tmp/simulator.log

    - name: Stop ITC-2 simulator
      if: always()
      run: virsh -c qemu:///system shutdown ts1001

    - name: Upload validation.log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: rspec validation
        path: log/validation_itc2_*.log

    - name: Upload itc2 rsmp log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: itc2 rsmp log
        path: /tmp/simulator.log
